<!DOCTYPE html>
<html>
<head>
  <title>Card Counter Pro - Learn to count cards and gain your advantage in blackjack.</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>

<%= yield %>

</body>
</html>
